# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.venv/
backend/venv/
backend/.venv/

# Environment variables
.env
.env.*

# Python build files
build/
dist/
*.egg-info/

# Node
node_modules/
frontend/node_modules/

# React build
frontend/dist/
frontend/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.vscode/
.vscode/settings.json
.vscode/*.log

chroma_db/
backend/data/recipes_ingredients.csv
backend/data/recipes_subset.json
backend/media/recipe_thumbnails/


backend/google-vision

backend/media/recipe_thumbnails/
backend/media/ocr_uploads/


latex
elteikthesis
