alembic==1.7.7
argon2-cffi==25.1.0
chromadb==1.5.5
email-validator==2.3.0
fastapi==0.133.1
google-auth==2.49.2
google-cloud-vision==3.11.0
openai==2.26.0
Pillow==12.0.0
pwdlib==0.3.0
pydantic==2.12.5
pydantic-settings==2.14.0
pytest==9.0.3
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
SQLAlchemy==2.0.48
starlette==0.52.1
uvicorn==0.41.0
psycopg2-binary
